/* Reset CSS */
body,
html {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

/* Header Styles */
header {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

/* Footer Styles */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Product Info Styles */
.product-info {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.product-info img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.product-info h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}

.product-info button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
}

.product-info button:hover {
  background-color: #333;
}
